*,
*::after,
*::before {
  box-sizing: border-box;
}
.attribution {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(238, 29%, 16%);
}
body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
main {
  width: 330px;
  border-radius: 20px;
  margin: 150px auto 0;
  position: relative;
  background: url('images/bg-pattern-mobile.svg') top no-repeat;
  background-color: white;
}
.img-big {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -105px;
  left: 20px;
}
.section-faq {
  padding: 10px;
}
.title {
  padding-top: 120px;
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
/* .faq-question:hover,
.faq-question:focus,
.faq-top:hover,
.faq-top:focus {
  font-weight: 700;
  cursor: pointer;
} */

.faq {
  cursor: pointer;
  line-height: 1.2;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.faq-question {
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  flex-grow: 2;
}
.faq-question__bold {
  font-weight: 700;
}
.faq-top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-question:hover,
.faq-question:focus {
  color: hsl(14, 88%, 65%);
}

.faq-answer {
  display: none;
}
.show-answer {
  color: hsl(240, 6%, 50%);
  display: block;
  padding: 5px 0 10px;
  margin: 0;
}
.img-arrow_up {
  transform: rotate(180deg);
}
.img-desktop {
  display: none;
}
.img-box {
  display: none;
}
/*      LARGE SCREEN > 768px      */
@media screen and (min-width: 768px) {
  .img-big {
    display: none;
  }
  main {
    width: 800px;
    background: url('images/bg-pattern-desktop.svg') no-repeat;
    background-position: -210% 70%;
    background-size: 81%;
    background-color: white;
  }
  .img-desktop {
    display: inline;
    position: absolute;
    left: -100px;
    transform: scale(0.8);
    z-index: 0;
  }
  .text-content {
    margin-left: 50%;
    padding: 50px 0;
  }
  .title {
    text-align: left;
    margin: 0;
    padding: 0 0 0 30px;
  }
  .section-faq {
    margin-top: 15px;
    padding-right: 25px;
  }
  .img-box {
    display: inline-block;
    position: absolute;
    transform: scale(0.85);
    left: -92px;
    top: 33%;
  }
}
